.rotate-90 {
    rotate: 90deg;
}

.font-bold {
    font-weight: bold;
  }

.font-1_5rem {
    font-size: 1.5rem;
}

.color-gray {
    color: #8a8585;
}

.send-email-btn {
	width: 150px;
	--border-radius: 20px;
	height: 40px;
}

.mr-1 {
    margin-right: 0.3rem;
}